* {
  font-family: tahoma;
}
body {
  background-image: url(brick.jpg)
}
h1 {
  text-align: center;
  background-color: pink;
  margin-left: 300px;
  margin-right: 300px;
  padding: 5px;
}

#love {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#dog {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

footer {
  text-align: center;
  font-size: 10px;
}

#cool {
  margin-top: 100px;
  text-align: center;
  margin-right: 20px;
  margin-left: 50px;
  background-color: pink;
  width: 25%;
  font-weight: bold;
  padding: 10px;
}


#list {
  text-align: left;
  list-style: none;
  margin-bottom: 30px;
  margin-left: 50px;
  background-color: pink;
  width: 22%;
  font-weight: bold;
  padding: 10px;
}

#button {
  display: block;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

#see {
  background-color: pink;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  margin-left: 400px;
  margin-right: 400px;
  margin-bottom: 20px;
}

#heart {
  height: 200px;
  width: 200px;
  float: right;
  margin-bottom: 200px;
  margin-right: 100px;
  border-radius: 50%;
}
