#quotes-header {
  text-align: center;
  font-weight: bold;
  text-shadow:5px 5px #ccccff;
  padding: 10px;
  margin-bottom: 80px;
}

.quotes p {
  min-height: 90px;
  min-width: 200px;
}

#quote1 {
  margin: 40px 900px 40px 1px;
  padding: 12px;
  border-radius: 25px;
  background-color: #E0FFFF;
}

#quote2 {
  margin: 10px 800px 40px 70px;
  padding: 16px;
  border-radius: 25px;
  background-color: #99ffcc;
}

#quote3 {
  margin: 10px 650px 40px 200px;
  padding: 16px;
  border-radius: 25px;
  background-color: #ccccff;
}
#quote4 {
  margin: 10px 400px 40px 400px;
  padding: 16px;
  border-radius: 25px;
  background-color: #ffffcc;
}

body {
  background-image: url("images/backgroundimage1.png");
}

footer nav {
  text-align: center;
  font-size: 15px;
  padding: 20px;
  margin: 20px;
  background-color: #F0F8FF;
}
}

.contact p {
  margin-top: 10px;
  padding: 5px;

}
* {
 font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
a:visited {
  color: #9932CC;
}
a:hover {
  color: #3333ff;
}

.contact {
  font-size: 12px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 0px;
  padding: 20px;
}
#picture {
  float: right;
  position: relative;
  top: -700px;
  left: -550px;
  display: inline;
  height: 50px;
  width: 50px;
}


@media screen and (max-width: 950px)
{
  #picture {
    display: block;
  }
  #quotes p {
    margin: auto;
    width: 100%;
  }
  body {
    width: 100%;
    margin: auto;
  }
}
