.big-title {
  text-align: center;
  color: #0066ff;
  font-family: Georgia;
  font-size: 60px;
  text-shadow:5px 5px #cc99ff;
  padding: 20px;
  border-style: outset;
  margin-right: 90px;
  margin-left: 50px;
}

.main-body {
   background-image: url("images/stripes.png");
}
nav {
  text-align: center;
  font-size: 15px;
  padding: 20px;
  margin: 20px;
  background-color: #F0F8FF;
}

#form-heading {
  font-size: 18px;
  margin: 10px 0px 2px 0px;
  max-width: 40%;
  min-width: 30%;
}
#button {
  font-weight: bold;
  background-color: #F0F8FF;
}
* {
 font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
.dog-pic {
  margin: auto;
  display: block;
  margin-bottom: 20px;
  margin-top: 20px;
}
#yellow {
  color: yellow;
  font-weight: bold;
}
#black {
  font-weight: number;
}
#brown {
  color: #8B4513;
  font-style: italic;
}
.form {
  margin: 30px 800px 10px 0px;
}
.form-colors {
  background-color: #F0F8FF;
}
#form-heading {
  margin: 0px 0px 10px 5px;
  font-size: 17px;
  font-weight: lighter;
}

#contact {
  font-size: 12px;
  text-align: center;
}

#contact p {
  font-size: 12px;
  text-align: center;
}

#3-dogs {
  width: 100%
  height: 100px;
}
#3-dogs img {
  height: auto;
  width: 100%;
}
* {
 font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
a:visited {
  color: #9932CC;
}
a:hover {
  color: #3333ff;
}

.types-of-labs h2 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: lighter;
  margin: 10px 10px 0px 10px;
}

@media screen and (max-width: 1000px)
{
  .big-title {
    border-style: double;
    color: #8B0000;
  }
}

#quotes-header {
  text-align: center;
  font-weight: bold;
  text-shadow:5px 5px #ccccff;
  padding: 10px;
  margin-bottom: 80px;
}

.quotes-body{
  background-image: url("images/backgroundimage1.png")
}
.quotes p {
  min-height: 90px;
  min-width: 200px;
}

#quote1 {
  margin: 40px 900px 40px 1px;
  padding: 12px;
  border-radius: 25px;
  background-color: #E0FFFF;
}

#quote2 {
  margin: 10px 800px 40px 70px;
  padding: 16px;
  border-radius: 25px;
  background-color: #99ffcc;
}

#quote3 {
  margin: 10px 650px 40px 200px;
  padding: 16px;
  border-radius: 25px;
  background-color: #ccccff;
}
#quote4 {
  margin: 10px 400px 40px 400px;
  padding: 16px;
  border-radius: 25px;
  background-color: #ffffcc;
}

quotes-body {
  background-image: url("images/backgroundimage1.png");
}

footer nav {
  text-align: center;
  font-size: 15px;
  padding: 20px;
  margin: 20px;
  background-color: #F0F8FF;
}


#picture {
  position: absolute;
  top: 200px;
  left: 55%;
  vertical-align: top;
  display: inline-block;
}

@media screen and (max-width: 750px){
  body{
    width: 100%;
    margin: auto;
  }
    .quotes p {
      width: 100%;
      margin: auto;
    }
  #quote1 {
  margin: 0 0 0 0;
}
  #quote2 {
  margin: 0 0 0 0;
}

  #quote3 {
  margin: 0 0 0 0;
}
  #quote4 {
  margin: 0 0 0 0;
}
#picture {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: auto;
  margin: auto;
}
}

#submit {
font-size: 40px;
}

.submit-body {
  background-image: url("images/3-pups.png");
}

.submit-nav {
  font-size: 15px;
  text-align: center;
  display: block;
  border-style: double;
  padding: 20px;
  margin: 30px 900px 0px 0px;
  background-color: #F0F8FF;
  font-family: "Avant Garde", Avantgarde, "Century Gothic",CenturyGothic, AppleGothic, sans-serif;
 font-size: 15px;
}
