p {
 font-family: "Avant Garde", Avantgarde, "Century Gothic",CenturyGothic, AppleGothic, sans-serif;
 font-size: 40px;
}

body {
  background-image: url("images/3-pups.png");
}
nav {
  font-size: 15px;
  text-align: center;
  display: block;
  border-style: double;
  padding: 20px;
  margin: 30px 900px 0px 0px;
  background-color: #F0F8FF;
  font-family: "Avant Garde", Avantgarde, "Century Gothic",CenturyGothic, AppleGothic, sans-serif;
 font-size: 15px;
}
a:visited {
  color: #9932CC;
}
a:hover {
  color: #FFA500;
}